<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Nintendo Chat!</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<audio class="message-audio">
		<source src="/audio/game-sound.mp3" type="audio">
	</audio>
	<main id="app">
		<div class="welcome">
			<div class="nintendo"></div>
			<div class="lot">

				<h1>Welcome to Nintendo Chat!</h1>

				<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
					
					<button type="submit" class="goButton">Go Chat!</button>

			</div>
		</div>

		<section class="userList">

			<h4>Users online</h4>
			<ul id='users'>
				<li v-for='user in users' id="onlineUser">
					{{ nickname }}
				</li>
			</ul>
		</section>

		<section class="messages">
			
			<ul id="messages">
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
			<section id="feedback"></section>
	
		</section>
		<section class="form-container">
			

			<form>
				<label for="message">Type your message here...</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<!-- add some fun emojis to your message! -->
				<button class="emoji" @click.prevent="characterEmoji" data-value="🍄">🍄</button>
				<button class="emoji" @click.prevent="characterEmoji" data-value="👾">👾</button>
				<button class="emoji" @click.prevent="characterEmoji" data-value="🕹️">🕹️</button>
				<button class="emoji" @click.prevent="characterEmoji" data-value="👻">👻</button>
				<button class="emoji" @click.prevent="characterEmoji" data-value="👑">👑</button>
				<button class="emoji" @click.prevent="characterEmoji" data-value="❔">❔</button>
				<button class="emoji" @click.prevent="characterEmoji" data-value="💣">💣</button>
				<button class="emoji" @click.prevent="characterEmoji" data-value="🏎">🏎</button>
				<input @click.prevent="disbatchMessage" type="submit">

			</form>
		</section>

	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>