<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Nintendo Chat!</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">
		<div class="welcome">
			<div class="nintendo"></div>
			<div class="lot">

				<h1>Welcome to Nintendo Chat!</h1>
					
					<button type="submit" class="goButton">Go Chat!</button>

			</div>
		</div>
		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
		</section>
		<section class="form-container">
			<label for="nickname">Your Nickname (optional)</label>
			<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">

			<form>
				<label for="message">Something to say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="disbatchMessage" type="submit">
			</form>
		</section>

	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>